<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        DevCow Software
    </title>

    <%- include('./Layout/Meta.ejs'); %>
    <%- include('./Layout/Links.ejs'); %>
</head>

<body class="dark-edition">
<div class="wrapper ">
    <%- include('./Layout/Sidebar.ejs') %>
    <div class="main-panel">
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
            <%- include('./Layout/Navbar.ejs') %>
        </nav>
        <div class="content">

        </div>
        <footer class="footer">
            <%- include('./Layout/Footer.ejs') %>
        </footer>
    </div>
</div>
<%- include('./Layout/Scripts.ejs'); %>
<script src="/JS/UserTimeout.js"></script>
</body>

</html>