<!doctype html>
<html lang="en">
<head>
    <%- include('./Layout/Meta.ejs'); %>
    <%- include('./Layout/Links.ejs'); %>

    <title>Test</title>

</head>
<body>
<%- include('./Layout/Navbar.ejs') %>
<%- include('./Layout/Header.ejs') %>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center py-5">
            <h1>Main Website</h1>
        </div>
    </div>
</div>

<%- include('./Layout/Footer.ejs'); %>
<%- include('./Layout/Scripts.ejs'); %>
</body>
</html>